.footer {
  width: 100%;
  margin-top: auto;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  border-top: 1px solid var(--accent-color);
}

.footer-logo {
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  color: var(--accent-color);
  transition: color var(--transition);
}

.footer-logo:hover {
  color: var(--accent-hover, var(--main-color));
}

.footer-wrapper p {
  color: var(--extra-text-color);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.16px;
}
